# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/



# Generated data
data/depth/*
!data/depth/.gitkeep

data/rgb/*
!data/rgb/.gitkeep

data/intrinsic/*
!data/intrinsic/.gitkeep

data/mask/*
!data/mask/.gitkeep

# 3D CAD model data
models/*
!models/.gitkeep