# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Generated RGB-D data
data/depth/*
!data/depth/.gitkeep

data/rgb/*
!data/rgb/.gitkeep

data/intrinsic/*
!data/intrinsic/.gitkeep