# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/



# Generated data
data/depth/*
!data/depth/sample.png

data/rgb/*
!data/depth/sample.png

data/intrinsic/*
!data/intrinsic/sample.png

data/mask/*
!data/mask/sample.png

# 3D CAD model data
models/*
!models/sample_print.stl
!models/sample.ply